table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #fffde7;
}
tr:hover {
    background-color: #f5f5f5;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}
.btn-insert {
    background-color: #ffc107;
    margin-bottom: 10px;
    display: inline-block; /* 추가된 부분 */
}
.btn-modify {
    background-color: #007bff;
}
.btn-danger {
    background-color: #dc3545;
}

.form-title {
    text-align: center;
}
.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.form-group {
    margin-bottom: 15px;
}
.form-label {
    display: block;
    margin-bottom: 5px;
}
.form-input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

