{% extends 'base.html' %}

{% block title %}시험 관리 시스템{% endblock %}

{% block content %}
<h1>과목 목록</h1>
<a href="{{ url_for('subjects.subject_create') }}" class="btn btn-insert">새 과목 추가</a>
<table border="1">
    <thead>
        <tr>
            <th>과목 ID</th>
            <th>과목명</th>
            <th>시작 일시</th>
            <th>종료 일시</th>
            <th>작업</th>
        </tr>
    </thead>
    <tbody>
    {% for subject in subjects %}
        <tr>
            <td>{{ subject.subject_id }}</td>
            <td>{{ subject.subjects }}</td>
            <td>{{ subject.start }}</td>
            <td>{{ subject.end }}</td>
            <td>
                <a href="{{ url_for('subjects.subject_update', subject_id=subject.subject_id) }}" class="btn btn-modify">수정</a>
                <a href="{{ url_for('subjects.subject_delete', subject_id=subject.subject_id) }}" class="btn btn-danger" onclick="return confirm('정말로 삭제하시겠습니까?');">삭제</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

