{% extends 'base.html' %}
{% block content %}

<h1 class="form-title">{% if subject %}과목 수정{% else %}새 과목 추가{% endif %}</h1>
<form method="post" class="form-container">
    <div class="form-group">
        <label for="subjects" class="form-label">과목명:</label>
        <input type="text" id="subjects" name="subjects" value="{{ subject.subjects if subject else '' }}" required class="form-input">
    </div>
    <div class="form-group">
        <label for="start" class="form-label">시작 일시:</label>
        <input type="datetime-local" id="start" name="start" value="{{ subject.start.strftime('%Y-%m-%dT%H:%M') if subject else '' }}" required class="form-input">
    </div>
    <div class="form-group">
        <label for="end" class="form-label">종료 일시:</label>
        <input type="datetime-local" id="end" name="end" value="{{ subject.end.strftime('%Y-%m-%dT%H:%M') if subject else '' }}" required class="form-input">
    </div>
    <button type="submit" class="form-button">저장</button>
</form>

{% endblock %}